.passwordChangeForm {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    margin-left: 230px;
    padding-left: 20px;
    height: 100%;
    padding-bottom: 30px;
}

.form_only {
    width: 300px;
    border: black solid 1px;
    padding: 20px;
}

input[type=text], select {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 250px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#createForm div {
    border-radius: 5px;
    padding: 20px;
    margin-left: 210px;
}

#userAlert {
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#userAlert .alert-success {
    margin-top: 25px;
}

#userData {

    width: inherit;
    margin-left: 230px;
    padding-left: 20px;
    height: 100%;
    padding-bottom: 30px;
}
