#navBar {
  padding: 0px;
  margin: 0px;
  background-color: red;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: montserrat;
}
#navBar nav {
  background: #0082E6;
  height: 80px;
  width: 100%;
}
#navBar nav .logo {
  color: #FFFFFF;
  font-size: 35px;
  line-height: 80px;
  padding: 0px 0px 0px 100px;
  font-weight: bold;
}
#navBar nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
}
#navBar nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
#navBar nav ul li a {
  color: #FFFFFF;
  font-size: 25px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
#navBar nav ul li a:hover {
  background: #1B9BFF;
  transition: 0.5s;
}
#navBar nav .checkBtn {
  font-size: 30px;
  color: #FFFFFF;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#navBar nav #checkbox {
  display: none;
}

@media (max-width: 950px) {
  nav .logo {
    font-size: 30px;
    padding-left: 50px !important;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 850px) {
  nav {
    position: absolute;
    top: 0;
  }
  nav .logo {
    padding: 0px 0px 0px 10px !important;
  }
  nav .checkBtn {
    display: block !important;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2C3E50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    margin-top: 0px;
    padding-left: 0px !important;
  }
  nav ul li {
    display: block;
    line-height: 30px;
    width: 100%;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover {
    background: none;
    color: #0082E6;
  }

  #checkbox:checked ~ ul {
    left: 0;
  }

  iframe {
    width: 100%;
  }
}
.fa-2x {
  font-size: 2em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover, a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff");
}
/*Color*/
/*Size*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  background: #000000;
  color: #FFFFFF;
  padding-bottom: 25px;
}
.footer .container-fluid #footer-content {
  width: 1200px;
  margin: auto;
  height: 320px;
}
.footer .container-fluid #footer-content .footer-header {
  display: block;
  padding-left: 5px;
  width: 390px;
  float: left;
}
.footer .container-fluid #footer-content .footer-header header {
  font-size: 28px;
  padding: 15px 0px 20px 0px;
  font-weight: bold;
  text-align: center;
}
.footer .container-fluid #footer-content .footer-header div ul li {
  width: 150px;
  list-style: none;
  line-height: 50px;
  font-size: 24px;
}
.footer .container-fluid #footer-content .footer-header div ul li a {
  color: #FFFFFF;
}
.footer .container-fluid #footer-content .footer-header div ul li:hover {
  border-bottom: #2C3E50 solid 4px;
}
.footer .container-fluid #footer-content #contact header {
  padding: 15px 0px 20px 0px;
}
.footer .container-fluid #footer-content #contact div h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}
.footer .container-fluid #footer-content #contact div p {
  font-size: 20px;
  line-height: 50px;
}
.footer .container-fluid #footer-content #contact div p a {
  font-size: 20px;
  line-height: 50px;
}
.footer .container-fluid #footer-content #location iframe {
  padding-left: 70px;
  width: 250px;
  height: 250px;
}

/*# sourceMappingURL=component.css.map */
