#navBar {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: montserrat;
}
#navBar nav {
  background: #0082E6;
  height: 80px;
  width: 100%;
}
#navBar nav .logo {
  color: #FFFFFF;
  font-size: 35px;
  line-height: 80px;
  padding: 0px 0px 0px 100px;
  font-weight: bold;
}
#navBar nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
}
#navBar nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
#navBar nav ul li a {
  color: #FFFFFF;
  font-size: 25px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
#navBar nav ul li a:hover {
  background: #1B9BFF;
  transition: 0.5s;
}
#navBar nav .checkBtn {
  font-size: 30px;
  color: #FFFFFF;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#navBar nav #checkbox {
  display: none;
}

@media (max-width: 950px) {
  nav .logo {
    font-size: 30px;
    padding-left: 50px !important;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 850px) {
  nav {
    position: absolute;
    top: 0;
  }
  nav .logo {
    padding: 0px 0px 0px 10px !important;
  }
  nav .checkBtn {
    display: block !important;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2C3E50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    margin-top: 0px;
    padding-left: 0px !important;
  }
  nav ul li {
    display: block;
    line-height: 30px;
    width: 100%;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover {
    background: none;
    color: #0082E6;
  }

  #checkbox:checked ~ ul {
    left: 0;
  }

  iframe {
    width: 100%;
  }
}
/*Color*/
/*Size*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  background: #000000;
  color: #FFFFFF;
  padding-bottom: 25px;
}
.footer .container-fluid #footer-content {
  width: 1200px;
  margin: auto;
  height: 320px;
}
.footer .container-fluid #footer-content .footer-header {
  display: block;
  padding-left: 5px;
  width: 390px;
  float: left;
}
.footer .container-fluid #footer-content .footer-header header {
  font-size: 28px;
  padding: 15px 0px 20px 0px;
  font-weight: bold;
  text-align: center;
}
.footer .container-fluid #footer-content .footer-header div ul li {
  width: 150px;
  list-style: none;
  line-height: 50px;
  font-size: 24px;
}
.footer .container-fluid #footer-content .footer-header div ul li a {
  color: #FFFFFF;
}
.footer .container-fluid #footer-content .footer-header div ul li:hover {
  border-bottom: #2C3E50 solid 4px;
}
.footer .container-fluid #footer-content #contact header {
  padding: 15px 0px 20px 0px;
}
.footer .container-fluid #footer-content #contact div h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}
.footer .container-fluid #footer-content #contact div p {
  font-size: 20px;
  line-height: 50px;
}
.footer .container-fluid #footer-content #contact div p a {
  font-size: 20px;
  line-height: 50px;
}
.footer .container-fluid #footer-content #location iframe {
  padding-left: 70px;
  width: 250px;
  height: 250px;
}
