@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
#navBar {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: montserrat;
}
#navBar .navbar-container {
  background: #0082E6;
  height: 60px;
  width: 100%;
}
#navBar .navbar-container .logo {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 60px;
  padding: 0px 0px 0px 100px;
  font-weight: bold;
}
#navBar .navbar-container ul {
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
}
#navBar .navbar-container ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
#navBar .navbar-container ul li a {
  color: #FFFFFF;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}
#navBar .navbar-container ul li a:hover {
  background: #1B9BFF;
  transition: 0.5s;
}
#navBar .navbar-container .checkBtn {
  font-size: 30px;
  color: #FFFFFF;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#navBar .navbar-container #checkbox {
  display: none;
}

@media (max-width: 950px) {
  nav .logo {
    font-size: 25px;
    padding-left: 50px !important;
  }
  nav ul li a {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  nav {
    position: absolute;
    top: 0;
  }
  nav .logo {
    padding: 0px 0px 0px 10px !important;
  }
  nav .checkBtn {
    display: block !important;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2C3E50;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    margin-top: 0px;
    padding-left: 0px !important;
  }
  nav ul li {
    display: block;
    line-height: 30px;
    width: 100%;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover {
    background: none;
    color: #0082E6;
  }

  #checkbox:checked ~ ul {
    left: 0;
  }

  iframe {
    width: 100%;
  }
}
::-moz-selection {
  color: #fff;
  background: #11101d;
}
::selection {
  color: #fff;
  background: #11101d;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75px;
  background: #203367;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 230px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
  padding-left: 0 !important;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.sidebar ul li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar ul li i {
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.sidebar.active .links_name {
  transition: 0s;
  opacity: 1;
  pointer-events: auto;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #1d1b31;
}

/*Color*/
/*Size*/
/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer{
    background: $backgroundColor;
    color: $textColor;
    padding-bottom: 25px;

    .container-fluid{
        #footer-content{
            width: 1200px;
            margin: auto;
            height: 320px;
            .footer-header{
                display: block;
                padding-left: 5px;
                width: 390px;
                float: left;
                header{
                    font-size: $footerHeader;
                    padding: 15px 0px 20px 0px;
                    font-weight: bold;
                    text-align: center;
                }

                div{
                    ul{
                        li{
                            width: 150px;
                            list-style: none;
                            line-height: 50px;
                            font-size: $footerLink;

                            a{
                                color: $textColor;
                            }
                        }

                        li:hover{
                            border-bottom: $borderBottom solid 4px;
                        }
                    }
                }
            }
            #contact{
                header{
                    padding: 15px 0px 20px 0px;
                }
                div{
                    h2{
                        font-size: $contactText;
                        font-weight: bold;
                        line-height: 50px;
                    }

                    p{
                        font-size: $contactText;
                        line-height: 50px;

                        a{
                            font-size: $contactText;
                            line-height: 50px;
                        }
                    }
                }
            }
            #location{

                iframe{
                    padding-left: 70px;
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}*/
* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: #000000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #2C3E50;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 1rem 0 0 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
