.content-wrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 50%;
}

.container {
    margin-left: 120px;
}

.contactform {
    display: inline;
    padding-left: 42%;
    padding-right: 42%;
}

.contactformfield {
    display: inline;
    padding-left: 28%;
    padding-right: 28%;
}
